<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darkshadows.shady.departmentnoticeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Department Notice App"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.darkshadows.shady.departmentnoticeapp.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.darkshadows.shady.departmentnoticeapp.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.darkshadows.shady.departmentnoticeapp.RegisterActivity" />
        <activity android:name="com.darkshadows.shady.departmentnoticeapp.SetupActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.darkshadows.shady.departmentnoticeapp.NewPostActivity"
            android:parentActivityName="com.darkshadows.shady.departmentnoticeapp.MainActivity" />
        <activity
            android:name="com.darkshadows.shady.departmentnoticeapp.NewFileActivity"
            android:parentActivityName="com.darkshadows.shady.departmentnoticeapp.MainActivity" />
        <activity
            android:name="com.darkshadows.shady.departmentnoticeapp.ViewUploadsActivity"
            android:parentActivityName="com.darkshadows.shady.departmentnoticeapp.NewFileActivity" />
    </application>

</manifest>